@import url(http://fonts.googleapis.com/css?family=Dosis);
.ember-application {
  margin: 20px;
}

body{
  background-color: #333;
  color: #FFF;
  font-family: 'Dosis', sans-serif;
  word-spacing: 3px;
}

footer{
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 20px;
}

ul.header_nav li{
  display: inline-block;
}

span{
  color: #777;
  font-size: 25px;
}

a{
  color: #777;
  text-decoration: none;
}

a:hover{
  color: #999;
  text-decoration: underline;
}

li{
  display: block;
  list-style-type: none;
}