<h1>About Coffee Ipsum</h1>

<p>
  Aroma instant aromatic lungo coffee id, dripper skinny single origin pumpkin spice robust froth at as chicory milk. Trifecta macchiato coffee so, viennese kopi-luwak est redeye, organic, aromatic sweet, arabica robusta pumpkin spice, foam skinny spoon instant to go sweet mug flavour. Macchiato wings cortado medium extraction black skinny, seasonal filter shop aged kopi-luwak, white extraction sugar, cortado to go, cultivar aroma french press so and café au lait aftertaste. Pumpkin spice acerbic saucer filter coffee sugar aroma carajillo, caramelization saucer so dark, mocha in frappuccino filter wings. Aromatic, foam aged, galão, doppio cultivar robust aroma blue mountain, seasonal, macchiato eu half and half that aged strong caffeine carajillo milk, cappuccino french press coffee galão barista. Cup, dark, shop eu milk crema fair trade mocha single shot organic medium strong fair trade et aftertaste con panna. Crema barista blue mountain robust brewed java, cinnamon turkish percolator instant robust strong, whipped acerbic, sweet robust sweet black acerbic dark.
</p>

<button{{action 'showRealName'}}>Click here to learn a local coffee shop</button>

{{#if isPictureShowing}}
  <button {{action 'hidePicture'}}>Hide Picture</button>
<p><img src="http://www.ourfoundry.com/wp-content/uploads/2015/02/IMG_7739.jpg" alt="BrueBarEspresso"></p>
{{else}}
  <button{{action 'showPicture'}}>Click here to see a picture</button>
{{/if}}