<h1>Karen's Blogpost</h1>

<ul>
  <li><a href="#">I love animals!</a></li>
  <li><a href="#">The proboscis monkey</a></li>
  <li><a href="http://humorpix.com/images/5b74e6c0b93f43fa20d858d571b02293/Albino_Animals0-size-600x0.jpg" target="_new">Albino Lion</a></li>
</ul>